body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: "Times New Roman", serif;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    width: 500px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}